<div class="page-header">
  <%= link_to new_painting_kind_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Новый вид картины
  <% end %>
  <h1>Просмотр всех видов картин</h1>
</div>

<% if @painting_kinds.exists? %>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
                <th>Заголовок</th>
                <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @painting_kinds.each do |painting_kind| %>
          <%= content_tag :tr, id: dom_id(painting_kind), class: dom_class(painting_kind) do %>
                          <td><%= painting_kind.title %></td>
                        <td><%= link_to 'Просмотр', painting_kind %></td>
            <td><%= link_to 'Редактировать', edit_painting_kind_path(painting_kind) %></td>
            <td><%= link_to 'Удалить', painting_kind, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="panel panel-default">
    <div class="panel-body text-center">Нет записей</div>
  </div>
<% end %>
