<div class="page-header">
  <%= link_to new_painting_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Новая картина
  <% end %>
  <h1>Просмотр всех картин</h1>
</div>

<% if @paintings.exists? %>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
                <th>Заголовок</th>
                <th>Вид картины</th>
                <th>Пользователь</th>
                <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @paintings.each do |painting| %>
          <%= content_tag :tr, id: dom_id(painting), class: dom_class(painting) do %>
                          <td><%= painting.title %></td>
                          <td><%= link_to painting.painting_kind.title, painting.painting_kind rescue '' %></td>
                          <td><%= link_to painting.user.email, painting.user rescue '' %></td>
                        <td><%= link_to 'Просмотр', painting %></td>
            <td><%= link_to 'Редактировать', edit_painting_path(painting) %></td>
            <td><%= link_to 'Удалить', painting, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="panel panel-default">
    <div class="panel-body text-center">Нет записей</div>
  </div>
<% end %>
