<div class="page-header">
  <%= link_to paintings_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Назад
  <% end %>
  <%= link_to edit_painting_path(@painting), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Редактировать
  <% end %>
  <h1>Просмотр картины</h1>
</div>

<dl class="dl-horizontal">
  <dt>#:</dt>
  <dd><%= @painting.id %></dd>

  <dt>Заголовок:</dt>
  <dd><%= @painting.title %></dd>

  <dt>Вид картины:</dt>
  <dd><%= link_to @painting.painting_kind.title, @painting.painting_kind rescue '' %></dd>

  <dt>Изображение:</dt>
  <dd>
    <% if @painting.image.attached? %>
      <%= link_to url_for(@painting.image) do %>
        <%= image_tag @painting.image.variant(resize: "400x400") rescue 'Нет изображения' %>
      <% end %>
    <% end %>
  </dd>

  <dt>Пользователь:</dt>
  <dd><%= link_to @painting.user.email, @painting.user rescue '' %></dd>

</dl>
