<%= form_for(@disposition, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @disposition.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
      <h4><%= pluralize(@disposition.errors.count, "error") %> prohibited this disposition from being saved:</h4>

      <ul>
      <% @disposition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">

      <%= f.label :painting, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.hidden_field :painting_id %>
        <%= autocomplete_field_tag 'painting_title', @disposition.painting&.title, autocomplete_painting_title_dispositions_path, id_element: '#disposition_painting_id', class: 'form-control' %>
      </div>

  </div>
  <div class="form-group">

      <%= f.label :room, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.hidden_field :room_id %>
        <%= autocomplete_field_tag 'room_title', @disposition.room&.title, autocomplete_room_title_dispositions_path, id_element: '#disposition_room_id', class: 'form-control' %>
      </div>

  </div>
  <div class="form-group">

      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <%= f.check_box :reproduction %>
            Reproduction
          </label>
        </div>
      </div>

  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
