<div class="page-header">
  <%= link_to new_disposition_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Новое размещение
  <% end %>
  <h1>Просмотр всех размещений</h1>
</div>

<% if @dispositions.exists? %>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
                <th>#</th>
                <th>Картина</th>
                <th>Комната</th>
                <th>Копия/Оригинал</th>
                <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @dispositions.each do |disposition| %>
          <%= content_tag :tr, id: dom_id(disposition), class: dom_class(disposition) do %>
                          <td><%= disposition.id %></td>
                          <td><%= link_to disposition.painting.title, disposition.painting rescue 'Нет картины' %></td>
                          <td><%= link_to disposition.room.title, disposition.room rescue 'Нет комнаты' %></td>
                          <td><%= disposition.reproduction ? 'Копия' : 'Оригинал' %></td>
                        <td><%= link_to 'Просмотр', disposition %></td>
            <td><%= link_to 'Редактировать', edit_disposition_path(disposition) %></td>
            <td><%= link_to 'Удалить', disposition, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="panel panel-default">
    <div class="panel-body text-center">Нет записей</div>
  </div>
<% end %>

<%= paginate @dispositions %>
