<div class="page-header">
  <%= link_to dispositions_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Назад
  <% end %>
  <%= link_to edit_disposition_path(@disposition), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Редактировать
  <% end %>
  <h1>Просмотр disposition</h1>
</div>

<dl class="dl-horizontal">
  <dt>Картина:</dt>
  <dd>
    <% if @disposition.painting && @disposition.painting.image %>
      <%= link_to @disposition.painting do %>
        <%= image_tag @disposition.painting.image.variant(resize: "400x400") %>
      <% end %><br/>
      <%= link_to @disposition.painting.title, @disposition.painting rescue 'Нет картины' %>
    <% else %>
      <%= link_to @disposition.painting.title, @disposition.painting rescue 'Нет картины' %>
    <% end %>
  </dd>

  <dt>Комната:</dt>
  <dd><%= link_to @disposition.room.title, @disposition.room rescue 'Нет комнаты' %></dd>

  <dt>Копия/Оригинал:</dt>
  <dd><%= @disposition.reproduction ? 'Копия' : 'Оригинал' %></dd>

</dl>
