<div class="page-header">
  <%= link_to users_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Назад
  <% end %>
  <%= link_to edit_user_path(@user), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Редактировать
  <% end %>
  <h1>Просмотр пользователя</h1>
</div>

<dl class="dl-horizontal">
  <dt>Email:</dt>
  <dd><%= @user.email %></dd>

  <dt>Зашифрованный пароль:</dt>
  <dd><%= @user.encrypted_password %></dd>

  <dt>LDAP ID:</dt>
  <dd><%= @user.ldap_id %></dd>

  <dt>Роль:</dt>
  <dd><%= User::ROLE_TRANSLATIONS[@user.role.to_sym] %></dd>

  <dt>Имя:</dt>
  <dd><%= @user.name %></dd>

  <dt>Фамилия:</dt>
  <dd><%= @user.surname %></dd>

  <dt>Отчество:</dt>
  <dd><%= @user.middle_name %></dd>

  <dt>Возраст:</dt>
  <dd><%= @user.age %></dd>

  <dt>Звание:</dt>
  <dd><%= link_to @user.rank.title, @user.rank rescue '' %></dd>

</dl>
