<div class="page-header">
  <%= link_to users_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Назад
  <% end %>
  <%= link_to edit_user_path(@user), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Редактировать
  <% end %>
  <h1>Просмотр user</h1>
</div>

<dl class="dl-horizontal">
  <dt>Email:</dt>
  <dd><%= @user.email %></dd>

  <dt>Encrypted password:</dt>
  <dd><%= @user.encrypted_password %></dd>

  <dt>LDAP ID:</dt>
  <dd><%= @user.ldap_id %></dd>

  <dt>Role:</dt>
  <dd><%= @user.role %></dd>

  <dt>Name:</dt>
  <dd><%= @user.name %></dd>

  <dt>Surname:</dt>
  <dd><%= @user.surname %></dd>

  <dt>Middle name:</dt>
  <dd><%= @user.middle_name %></dd>

  <dt>Age:</dt>
  <dd><%= @user.age %></dd>

  <dt>Rank:</dt>
  <dd><%= @user.rank %></dd>

</dl>
