<div class="page-header">
  <%= link_to rooms_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Назад
  <% end %>
  <%= link_to edit_room_path(@room), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Редактировать
  <% end %>
  <h1>Просмотр комнаты</h1>
</div>

<dl class="dl-horizontal">
  <dt>Заголовок:</dt>
  <dd><%= @room.title %></dd>

  <dt>Положение:</dt>
  <dd><%= @room.position %></dd>

  <dt>Площадь:</dt>
  <dd><%= @room.area %></dd>

</dl>
